@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat bold";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat italic";
  src: url("/fonts/Montserrat-Italic.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat thin";
  src: url("/fonts/Montserrat-Light.ttf") format("woff");
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-primary);
}

* {
  color: var(--clr-text);
  font-family: var(--font-family);
}

ul,li, a {
  text-decoration: none;
  list-style: none;
}

p {
  font-family: var(--font-thin);
}

h1 {
  font-family: var(--font-bold);
  font-size: 1.75rem;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.btn {
  border: none;
  padding: 0.65rem;
  border-radius: 5px;
  color: var(--clr-primary);
  cursor: pointer;
  transition: background 0.3s;
  width: 6rem;
}

.btn-markup {
  background-color: var(--clr-markup);
}

.btn-markup:hover {
  background-color: var(--clr-bigmarkup);
}

.btn-red {
  background-color: var(--clr-delete);
  color: var(--clr-light);
}

.btn-light {
  border : 1px solid var(--clr-markup);
  color: var(--clr-markup);
  background-color: var(--clr-secondary);
}

.btn-light:hover {
  background-color: var(--clr-markup);
  color: var(--clr-primary);
}

.btn-link {
  background-color: none;
  color: var(--clr-markup);
  text-decoration: underline;
  padding: 0;
  width: auto;
}

.w-7 {
  width: 7rem;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.container {
  background-color: var(--clr-secondary);
  border-radius: 5px;
  box-shadow: var(--shadow-main);
}

.flex {
  display: flex;
  gap: 1rem;
}

.ty-10 {
  transform: translateY(-10px);
}

.form-container {
  & {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  input, textarea {
    background-color: var(--clr-primary);
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    color: var(--clr-text);
    width: 98%;
    resize: none;
  }
}

 .custom-select {
  background-color: var(--clr-primary);
  color: var(--clr-text);
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 15%;
  padding: 0.5rem;
}

.alert-error {
  text-align: center;
  color: #FF9494;
}

.flag {
  & {
    background-color: var(--clr-secondary);
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow-main);
  }

  h1 {
    text-align: center;
  }

  .flag-title {
    color: var(--clr-markup);
  }
}

// fade transition
.fade-enter-active {
  transition: all .3s ease;
}
.fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
